* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    transition: .5s;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER  */

/* HEADER-TOP */
.btn-login,.btn-reg{
    color: #1E1E1E;
}

.btn-login::after {
    content: '/';
    padding: 5px;
    color: black;
}

.btn-login:hover {
    color: #FF6915;
}

.btn-reg:hover {
    color: #FF6915;
}

.btn-box {
    font-size: 13px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 130px;
}

.header-top-btn {
    display: flex;
    gap: 10px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    border-bottom: 1px solid #58585838;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-link-active {
    color: #FF6915;
}

.menu-link {
    color: #585858;
    font-size: 14px;
}

.menu-link:hover {
    transform: translate3d(-5px, -5px, 0);
}

.menu-link-bot {
    color: black;
    font-weight: 400;
    font-size: 15px;
}

.menu-link-bot:hover {
    transform: translate3d(-5px, -5px, 0);
}

/* HEADER-TOP-END */

/* HEADER-BOT */

.header-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
}

.icon-box {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.icon-box a {
    padding: 27px;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon-item:hover {
    transform: translate3d(-5px, -5px, 0);
}

/* HEADER-BOT-END  */

/* HEADER-END */

/* PROMO */

.promo {
    padding-top: 15%;
    height: 100vh;
}

.promo-title {
    font-size: 69px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 31px;
}

.promo-subtitle {
    font-size: 18px;
    font-weight: 400;
    width: 500px;
    color: black;
    height: 87px;
    margin-bottom: 20px;
}

.promo-price {
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

.promo-price span {
    font-size: 22px;
}

.btn {
    padding: 23px 45px;
    border: none;
    font-size: 18px;
}

.promo-btn {
    background-color: #1E1E1E;
    color: white;
}

.promo-btn-box {
    display: flex;
    align-items: center;
}

.promo-btn-box p {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    padding: 24.5px;
}

.promo-btn-box:hover .promo-btn {
    background-color: black;
}

.btn-item {
    cursor: pointer;
}

.promo-btn-box:hover .btn-item {
    background-color: #1E1E1E;
}

.promo__content {
    display: flex;
    position: relative;
}

.promo-img {
    width: 600px;
    height: 600px;
    position: relative;
    bottom: 100px;
}

.promo-img-box {
    display: flex;
    align-items: center;
}

.btn-nav-left {
    transform: scaleX(-1);

}

.btn-nav {
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid #58585838;
    color: black;
    border-radius: 50%;
    cursor: pointer;
}

.btn-nav:hover {
    background-color: #58585838;
}

.promo-btn-nav {
    display: flex;
    gap: 20px;
}

/* PROMO-END */

/* advantages */
.advantages {
    margin-bottom: 100px;
}

.advantages__items {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.advantages__item {
    display: flex;
    width: 412px;
    height: 110px;
    gap: 40px;
}

.advantages-img {
    width: 36px;
    height: 36px;
}


.advantages-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.advantages-text-subtitle {
    font-size: 15px;
    line-height: 20px;
}

.advantages-text-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.advantages::before {
    content: '';
    display: block;
    border-top: 2px solid #58585838;
    width: 100%;
    padding-bottom: 50px;
}

.advantages::after {
    content: '';
    display: block;
    border-top: 2px solid #58585838;
    width: 100%;
    margin-top: 50px;
}

/* advantages-end */

/* receipts */
.arrow-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: end;
}

.receipts-title {
    font-size: 39px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;

}

.arrow-left,
.arrow-right {
    border: none;
    font-size: 60px;
    background-color: transparent;
}

.arrow-left:hover,
.arrow-right:hover {
    color: #FF6915;
}

.arrow-right {
    color: #585858;
}

.receipts {
    margin-bottom: 120px;
}

.receipts__item {
    width: 440px;
    height: 586px;
    padding: 20px;
    border: 2px solid #58585838;
    border-radius: 20px;
}

.receipts-btn {
    padding: 10px;
    margin-bottom: 100px;
    border: none;
    background-color: black;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
}

.receipts-icon:hover {
    transform: translate3d(-3px, -3px, 0);
}

.receipts__item-header {
    display: flex;
    justify-content: space-between;
}

.receipts__item-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 60px;
}

.receipts__item-info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.receipts-item-title {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #585858;
}

.receipts-item-model {
    font-size: 19px;
    font-weight: 700;
}

.receipts-item-color {
    font-size: 16px;
    font-weight: 700;
    color: #2E2E2E;
    display: flex;
    align-items: center;
}

.receipts-item-color-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.receipts-item-color-box a {
    width: 15px;
    border-radius: 100%;
    height: 15px;
}

.color-grey {
    background-color: #A8B7BF;
}

.color-black {
    background-color: black;
}

.color-red {
    background-color: red;
}

.receipts__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.receipts-item-price {
    color: black;
    font-size: 19px;
    font-weight: 700;
}

.receipts-main-img {
    width: 361px;
    height: 173px;
}

.receipts-item-price span {
    font-size: 15px;
    color: #999999;
    text-decoration: line-through;
}

.receipts__item-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.receipts-btn-discount {
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 100px;
    width: 46px;
    height: 32px;
    border: none;
    background-color: #FF6915;
    color: white;
}

.receipts-btn-hit {
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    width: 46px;
    height: 32px;
    margin-bottom: 100px;
    border: none;
    background-color: #4296C3;
    color: white;
}

.color-green {
    background-color: #64E1CB;
}

.color-blue {
    background-color: #4296C3;
}

.color-pink {
    background-color: #D81F64;
}

/* receipts-end */


/* sold  */

.sold {
    margin-bottom: 150px;
}

.sold__item {
    width: 440px;
    height: 586px;
    padding: 20px;
    border: 2px solid #58585838;
    border-radius: 20px;
}

.sold-btn {
    padding: 10px;
    margin-bottom: 100px;
    border: none;
    background-color: black;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
}

.sold-icon:hover {
    transform: translate3d(-3px, -3px, 0);
}

.sold__item-header {
    display: flex;
    justify-content: space-between;
}

.sold__item-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 60px;
}

.sold__item-info-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sold-item-title {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #585858;
}

.sold-item-model {
    font-size: 19px;
    font-weight: 700;
}

.sold-item-color {
    font-size: 16px;
    font-weight: 700;
    color: #2E2E2E;
    display: flex;
    align-items: center;
}

.sold-item-color-box {
    display: flex;
    gap: 10px;
    align-items: center;
}

.sold-item-color-box a {
    width: 15px;
    border-radius: 100%;
    height: 15px;
}


.sold__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.sold-item-price {
    font-size: 19px;
    font-weight: 700;
}

.sold-main-img {
    width: 361px;
    height: 173px;
}

.sold-item-price span {
    font-size: 15px;
    color: #999999;
    text-decoration: line-through;
}

.sold__item-info {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.sold-btn-discount {
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 100px;
    width: 46px;
    height: 32px;
    border: none;
    background-color: #FF6915;
    color: white;
}

.sold-btn-hit {
    font-size: 11px;
    text-transform: uppercase;
    padding: 10px;
    width: 46px;
    height: 32px;
    margin-bottom: 100px;
    border: none;
    background-color: #4296C3;
    color: white;
}

.sold-title {
    font-size: 39px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}

/* sold-end */


/* season */

.season {
    width: 1500px;
    height: 618px;
    margin: 0 auto;
    background-color: #1E1E1E;
    margin-bottom: 150px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../media/season/кросовок.png');
    color: white;
    padding-top: 110px;

}

.season-btn {
    background-color: #FF6915;
    color: white;
}

.season-btn-box {
    display: flex;
    align-items: center;
}

.season-btn-box p {
    background-color: #FB5A00;
    color: white;
    padding: 24.1px;
}

.season-btn-box:hover .season-btn {
    background-color: #FB5A00;
}

.btn-item {
    cursor: pointer;
}

.season-btn-box:hover .btn-item {
    background-color: #FF6915;
}

.season-title {
    color: white;
    font-size: 59px;
    text-transform: uppercase;
    margin-bottom: 48px;
}

.season-subtitle {
    color: white;
    font-size: 36px;
    margin-bottom: 34px;
}

.season-price span {
    font-size: 22px;
}

.season-price {
    color: white;
    margin-bottom: 22px;
}

.season-title::after {
    content: '';
    border-top: 2px solid #ffffff;
    display: inline-block;
    width: 123px;
    height: 2px;
    margin-left: 140px;
}

.season__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
}



.season-main-box img {
    position: relative;
    width: 600px;
    height: 500px;
}
.season__main{
    line-height: 29px;
    font-size: 18px;
    font-weight: 100;
    gap: 10px;
    display: flex;
    align-items: start;
}
.season-main-plus{
    font-size: 20px;
}
/* season-end */

/* public */
.public{
    margin-bottom: 90px;

}
.public__item{
    width: 670px;
    height: 461px;
}
.public__item button{
    border: none;
    background-color: DBE5EB;
    padding: 10px 16px;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.item-left{
    background-image: url('../media/public/Rectangle\ 29.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.public-item-content{
    padding: 40px;
}
.item-title{
    font-size: 27px;
    padding-bottom: 120px;
    color: white;
    line-height: 36px;
}
.item-text{
    display: flex;
    align-items: start;
    color: white;
    padding-bottom: 23px;
    line-height: 29px;
}
.item-data{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    color: white;
}

.item-data a{
    color: white;
    font-size: 18px;
}
.item-data a:hover{
    color: #FB5A00;
}
.item-data a::after{
    content: '';
    width: 100%;
    display: block;
    margin-top: 10px;
    border-bottom: 2px solid white;
}
.public__items{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.item-right{
    background-image: url('../media/public/Rectangle\ 29-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}

.item-left::after{
    content: '';
    width: 280px;
    display: inline-block;
    padding-top: 60px;
    border-bottom: 3px solid #FF6915;
}
/* public-end */


/* collection */

.collection__item-left{
    background-image: url('../media/collection/Rectangle\ 15.png');
}
.collection__item-right{
    background-image: url('../media/collection/Rectangle\ 16.png');
}
.collection{
    margin-bottom: 150px;
}
.collection__items{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.collection-text{
    color: white;
}
.collection__item p{
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 490px;
}
.collection__item a{
    font-size: 18px;
}
.collection__item a:hover{
    color: #FB5A00;
}
.collection__item a::after{
    content: '';
    width: 155px;
    display: block;
    margin-top: 20px;
    border-bottom: 2px solid white;
}
.collection__item{
    width: 670px;
    height: 736px;
    padding: 40px;
}
/* collection-end */

/* footer  */
.footer{
    background-color: #1E1E1E;
    height: 375px;
    padding: 40px;
}
.contact-box{
    display: flex;
    gap: 10px;
}
.logo-box{
    display: flex;
    align-items: start;
    text-transform: uppercase;
    gap: 10px;
    font-size: 24px;
    margin-bottom: 55px;
}
.footer__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__nav p{
    color: #707070;
    text-transform: uppercase;
}
.footer__nav a{
    color: white;
}
.logo-box span{
    color: black;
    text-shadow: 1px 0 1px #FF6915, 
    0 1px 1px #FF6915, 
    -1px 0 1px #FF6915, 
    0 -1px 1px #FF6915;
}
.form{
    display: flex;
}
.form-btn{
    padding: 18px;
    background-color: transparent;
    border: 1px solid #D8DDE4;
    margin-top: 30px;
    margin-bottom: 10px;
}
.form button{
    color: #FB5A00;
}
.poli{
    color: #707070;
    font-size: 13px;
}
.footer__bottom{
    display: flex;
    gap: 200px;
}
.footer__bottom p,a{
    color: white;
}

.footer__bottom-text{
    font-size: 13px;
}
.footer__bottom-link{
    font-size: 13px;
}
.footer a:hover{
    transform: tra;
}

/* footer-end */